<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
    <div fxFlex="70" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
        <form [formGroup]="savePostFormGroup" novalidate autocomplete="off" (ngSubmit)="saveHomePost(savePostFormGroup.value)">
            <mat-card>
                <div fxLayout="row wrap"  fxLayoutAlign="center center">
                    <!-- Locality -->
                    <div fxFlex="60" fxFlex.lt-lg="fxFill">
                        <mat-form-field [formGroup]="savePostFormGroup" appearance="outline">
                            <mat-label><span matPrefix><i class="fas fa-map-marker-alt">&nbsp;&nbsp;</i></span>Locality</mat-label>
                            <input hideRequiredMarker="true" matInput type="text" aria-label="Locality" matInput [formControl]="areaControl" [matAutocomplete]="area" [errorStateMatcher]="matcher">
                            <mat-autocomplete #area="matAutocomplete" autoActiveFirstOption [displayWith]="getAreaNameById">
                            <mat-option *ngFor="let area of filteredAreaOptions | async" [value]="area">
                                {{area.name}}
                            </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="isInvalidArea()">Please select Locality</mat-error>
                        </mat-form-field>
                    </div>

                    <!-- HomeType -->
                    <div fxFlex="40" fxFlex.lt-lg="fxFill">
                        <mat-form-field [formGroup]="savePostFormGroup" appearance="outline">
                        <mat-label><span matPrefix><i class="fas fa-building">&nbsp;&nbsp;</i></span>Total Rooms</mat-label>
                            <input matInput type="text" aria-label="Total Rooms" matInput [formControl]="homeTypeControl" [matAutocomplete]="homeType" [errorStateMatcher]="matcher">
                            <mat-autocomplete #homeType="matAutocomplete" autoActiveFirstOption [displayWith]="getHomeTypeNameById">
                            <mat-option *ngFor="let homeType of filteredHomeTypeOptions | async" [value]="homeType">
                                {{homeType.name}}
                            </mat-option>
                            </mat-autocomplete>
                            <mat-error *ngIf="isInvalidHomeType()">{{HomeTypeErrorMessage}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>
                    
                <div fxLayout="row wrap"  fxLayoutAlign="center center"  class="margin-top-30">
                    <!-- Sq.Ft -->
                    <div fxFlex="32" fxFlex.lt-md="fxFill">
                        <mat-form-field [formGroup]="savePostFormGroup" appearance="outline">
                        <mat-label><span matPrefix><i class="fas fa-ruler-combined">&nbsp;&nbsp;</i></span>Square Foot</mat-label>
                            <input matInput type="number" formControlName="fontSize" min="10" id="sqFt" formControlName="sqFt" step="50" [errorStateMatcher]="matcher">
                            <mat-error *ngIf="isInvalidSqFt()">{{SqFtErrorMessage}}</mat-error>
                        </mat-form-field>
                    </div>

                    <!-- rent -->
                    <div fxFlex="32" fxFlex.lt-md="fxFill">
                        <mat-form-field [formGroup]="savePostFormGroup" appearance="outline">
                            <mat-label><span matPrefix><i class="fas fa-rupee-sign">&nbsp;&nbsp;</i>Rent</span></mat-label>
                            <input matInput type="number" #rentField min="0" formControlName="rent"
                            (keyup)="showRentInWords(rentField.value)" (focus)="showRentLabel(true)" (blur)="showRentLabel(false)" step="100" [errorStateMatcher]="matcher"/>
                            <mat-hint>{{rentInWords}}</mat-hint>
                            <mat-error *ngIf="isInvalidRent()">{{RentErrorMessage}}</mat-error>
                        </mat-form-field>
                    </div>

                    <!-- deposit -->
                    <div fxFlex="36" fxFlex.lt-md="fxFill">
                        <mat-form-field [formGroup]="savePostFormGroup" appearance="outline">
                        <mat-label><span matPrefix><i class="fas fa-rupee-sign">&nbsp;&nbsp;</i></span>Deposit</mat-label>
                            <input matInput type="number" #depositField min="0" formControlName="deposit"
                            (keyup)="showDepositInWords(depositField.value)" (focus)="showDepositLabel(true)" (blur)="showDepositLabel(false)" step="100" [errorStateMatcher]="matcher"/>
                            <mat-hint>{{depositInWords}}</mat-hint>
                            <mat-error *ngIf="isInvalidDeposit()">{{DepositErrorMessage}}</mat-error>
                        </mat-form-field>
                    </div>
                </div>

                <div fxLayout="row wrap" class="margin-top-30" fxLayoutAlign="end center">
                    <div fxFlex="30" fxFlex.lt-lg="fxFill">
                        <button (click)="cancelPost()" mat-raised-button>Cancel</button>
                    </div>

                    <div fxFlex="23" fxFlex.lt-lg="fxFill">
                        <button type="submit" mat-raised-button color="primary"><i class="fa fa-home"></i>
                            <span class="margin-left-5">Save Post</span>
                        </button>
                    </div>
                </div>
            </mat-card>
        </form>
    </div>
</div>
<!--
                    <div class="ui segment eight wide column">
                        <h4 class="ui dividing header"><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h4>
                        <div class="two fields">
                            <div class="field" [ngClass]="{'error' : isInvalidPremiseName()}">
                                <div class="fields">
                                    <label class="field">Premise Name:</label>
                                    <em class="field" *ngIf="isInvalidPremiseName() && addressPremiseName.errors?.required">Required</em>
                                    <em class="field" *ngIf="isInvalidPremiseName() && addressPremiseName.errors?.minlength">Should have minimum 3 chars</em>
                                    <em class="field" *ngIf="isInvalidPremiseName() && addressPremiseName.errors?.maxlength">Should have maximum 100 chars</em>
                                </div>
                                <div class="ui labeled input" [formGroup]="savePostFormGroup">
                                    <label class="ui label"><i class="fa fa-address-card-o" aria-hidden="true"></i></label>
                                    <input id="addressPremiseName" type="text" placeholder="E.g. Basava Nilaya, H.No. 123/4" id="addressPremiseName" formControlName="addressPremiseName" />

                                </div>
                            </div>

                            <div class="field" [ngClass]="{'error' : isInvalidStreetName()}">
                                <div class="fields">
                                    <label class="field">Street Name, Landmark:</label>
                                    <em class="field" *ngIf="isInvalidStreetName() && addressStreet.errors?.required">Required</em>
                                    <em class="field" *ngIf="isInvalidStreetName() && addressStreet.errors?.minlength">Should have minimum 3 chars</em>
                                    <em class="field" *ngIf="isInvalidStreetName() && addressStreet.errors?.maxlength">Should have maximum 100 chars</em>
                                </div>
                                <div class="ui labeled input" [formGroup]="savePostFormGroup">
                                    <label class="ui label"><i class="fa fa-road" aria-hidden="true"></i></label>
                                    <input type="text" placeholder="E.g. 2nd Cross, opp. Sai Temple" id="addressStreet" class="ui " formControlName="addressStreet" />
                                </div>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field" [ngClass]="{'error' : isInvalidContactName()}">
                                <div class="fields">
                                    <label class="field">Contact Name:</label>
                                    <em class="field" *ngIf="isInvalidContactName() && contactPerson.errors?.required">Required</em>
                                    <em class="field" *ngIf="isInvalidContactName() && contactPerson.errors?.minlength">Should have minimum 3 chars</em>
                                    <em class="field" *ngIf="isInvalidContactName() && contactPerson.errors?.maxlength">Should have maximum 100 chars</em>
                                </div>
                                <div class="ui labeled input" [formGroup]="savePostFormGroup">
                                    <label class="ui label"><i class="fa fa-user" aria-hidden="true"></i></label>
                                    <input type="text" placeholder="Contact Person" id="contactPerson" class="ui " formControlName="contactPerson" />
                                </div>
                            </div>
                            <div class="field" [ngClass]="{'error' : isInvalidContactPhone()}">
                                <div class="fields">
                                    <label class="field">Contact Phone:</label>
                                    <em class="field" *ngIf="isInvalidContactPhone() && contactPhone.errors?.required">Required</em>
                                    <em class="field" *ngIf="isInvalidContactPhone() && (contactPhone.errors?.min || contactPhone.errors?.max)">Should have 10 digits</em>
                                </div>
                                <div class="ui labeled input" [formGroup]="savePostFormGroup">
                                    <label class="ui label"><i class="fa fa-phone" aria-hidden="true"></i></label>
                                    <input type="number" min="1000000000" placeholder="Contact Phone" id="contactPhone" class="ui " formControlName="contactPhone" />
                                </div>
                            </div>
                        </div>
                    </div>-->
                    
<!--
            <div class="ui error message " *ngIf="isInvalidForm()">
                <div class="header">
                    Please enter all details to submit the post.
                </div>
            </div> -->

           <!-- <app-loader *ngIf="showLoader" [loaderMessage]="'Attempting to Save Post...'"></app-loader> -->

