<div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
  <div fxFlex="60" fxLayout.lt-md="column" fxLayoutAlign="space-around center">

    <form [formGroup]="savePostFormGroup" novalidate autocomplete="off" (ngSubmit)="saveHomePost(savePostFormGroup.value)">
    <mat-card fxLayout="row wrap"  fxLayoutAlign="center center">
      <!-- Locality -->
      <div fxFlex="60" fxFlex.lt-lg="fxFill">
        <mat-form-field [formGroup]="savePostFormGroup" >
          <input  hideRequiredMarker="true" matInput type="text" placeholder="Locality?" aria-label="Locality" matInput [formControl]="areaControl" [matAutocomplete]="area">
          <mat-autocomplete #area="matAutocomplete" autoActiveFirstOption [displayWith]="getAreaNameById">
            <mat-option *ngFor="let area of filteredAreaOptions | async" [value]="area">
              {{area.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="isInvalidArea()">Please select Locality</mat-error>
        </mat-form-field>
      </div>

      <!-- HomeType -->
      <div fxFlex="40" fxFlex.lt-lg="fxFill">
        <mat-form-field [formGroup]="savePostFormGroup">
          <input matInput type="text" placeholder="Total Rooms" aria-label="Total Rooms" matInput [formControl]="homeTypeControl" [matAutocomplete]="homeType">
          <mat-autocomplete #homeType="matAutocomplete" autoActiveFirstOption [displayWith]="getHomeTypeNameById">
            <mat-option *ngFor="let homeType of filteredHomeTypeOptions | async" [value]="homeType">
              {{homeType.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="isInvalidHomeType()">{{HomeTypeErrorMessage}}</mat-error>
        </mat-form-field>
      </div>

      <!-- Furnish Type -->
      <div fxFlex="60" fxFlex.lt-lg="fxFill">
        <mat-form-field [formGroup]="savePostFormGroup">
          <input matInput type="text" placeholder="Furnish Type" aria-label="Furnish Type" matInput [formControl]="furnishTypeControl" [matAutocomplete]="furnishType">
          <mat-autocomplete #furnishType="matAutocomplete" autoActiveFirstOption [displayWith]="getFurnishTypeNameById">
            <mat-option *ngFor="let furnishType of filteredFurnishTypeOptions | async" [value]="furnishType">
              {{furnishType.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="isInvalidFurnishType()">{{FurnishTypeErrorMessage}}</mat-error>
        </mat-form-field>
      </div>

      <!-- Sq.Ft -->
      <div fxFlex="40" fxFlex.lt-md="fxFill">
        <mat-form-field [formGroup]="savePostFormGroup">
          <input matInput type="number" placeholder="Square Foot" formControlName="fontSize" min="10" id="sqFt" formControlName="sqFt">
          <mat-error *ngIf="isInvalidSqFt() && sqFt.errors?.required">{{SqFtErrorMessage}}</mat-error>
          <mat-error *ngIf="isInvalidSqFt() && (rent.errors?.min || rent.errors?.max)">{{SqFtRangeErrorMessage}}</mat-error>
        </mat-form-field>
      </div>

      <!-- rent -->
      <div fxFlex="33" fxFlex.lt-md="fxFill">
        <mat-form-field [formGroup]="savePostFormGroup">
          <input matInput type="number" #rentField min="0" placeholder="Rent" formControlName="rent"
            (keyup)="showRentInWords(rentField.value)" (focus)="showRentLabel(true)" (blur)="showRentLabel(false)" />
            <mat-hint>{{rentInWords}}</mat-hint>
          <mat-error *ngIf="isInvalidRent() && rent.errors?.required">{{RentErrorMessage}}</mat-error>
          <mat-error *ngIf="isInvalidRent() && (rent.errors?.min || rent.errors?.max)">{{RentRangeErrorMessage}}</mat-error>
        </mat-form-field>
      </div>

      <!-- deposit -->
      <div fxFlex="33" fxFlex.lt-md="fxFill">
        <mat-form-field [formGroup]="savePostFormGroup">
          <input matInput type="number" #depositField min="0" placeholder="Deposit" formControlName="deposit"
            (keyup)="showDepositInWords(depositField.value)" (focus)="showDepositLabel(true)" (blur)="showDepositLabel(false)" />
            <mat-hint>{{depositInWords}}</mat-hint>
          <mat-error *ngIf="isInvalidDeposit() && deposit.errors?.required">{{depositErrorMessage}}</mat-error>
          <mat-error *ngIf="isInvalidDeposit() && (deposit.errors?.min || deposit.errors?.max)">{{DepositRangeErrorMessage}}</mat-error>
        </mat-form-field>
      </div>


<!--
                    <div class="ui segment eight wide column">
                        <h4 class="ui dividing header"><i class="fa fa-map-marker" aria-hidden="true"></i> Address</h4>
                        <div class="two fields">
                            <div class="field" [ngClass]="{'error' : isInvalidPremiseName()}">
                                <div class="fields">
                                    <label class="field">Premise Name:</label>
                                    <em class="field" *ngIf="isInvalidPremiseName() && addressPremiseName.errors?.required">Required</em>
                                    <em class="field" *ngIf="isInvalidPremiseName() && addressPremiseName.errors?.minlength">Should have minimum 3 chars</em>
                                    <em class="field" *ngIf="isInvalidPremiseName() && addressPremiseName.errors?.maxlength">Should have maximum 100 chars</em>
                                </div>
                                <div class="ui labeled input" [formGroup]="savePostFormGroup">
                                    <label class="ui label"><i class="fa fa-address-card-o" aria-hidden="true"></i></label>
                                    <input id="addressPremiseName" type="text" placeholder="E.g. Basava Nilaya, H.No. 123/4" id="addressPremiseName" formControlName="addressPremiseName" />

                                </div>
                            </div>

                            <div class="field" [ngClass]="{'error' : isInvalidStreetName()}">
                                <div class="fields">
                                    <label class="field">Street Name, Landmark:</label>
                                    <em class="field" *ngIf="isInvalidStreetName() && addressStreet.errors?.required">Required</em>
                                    <em class="field" *ngIf="isInvalidStreetName() && addressStreet.errors?.minlength">Should have minimum 3 chars</em>
                                    <em class="field" *ngIf="isInvalidStreetName() && addressStreet.errors?.maxlength">Should have maximum 100 chars</em>
                                </div>
                                <div class="ui labeled input" [formGroup]="savePostFormGroup">
                                    <label class="ui label"><i class="fa fa-road" aria-hidden="true"></i></label>
                                    <input type="text" placeholder="E.g. 2nd Cross, opp. Sai Temple" id="addressStreet" class="ui " formControlName="addressStreet" />
                                </div>
                            </div>
                        </div>
                        <div class="two fields">
                            <div class="field" [ngClass]="{'error' : isInvalidContactName()}">
                                <div class="fields">
                                    <label class="field">Contact Name:</label>
                                    <em class="field" *ngIf="isInvalidContactName() && contactPerson.errors?.required">Required</em>
                                    <em class="field" *ngIf="isInvalidContactName() && contactPerson.errors?.minlength">Should have minimum 3 chars</em>
                                    <em class="field" *ngIf="isInvalidContactName() && contactPerson.errors?.maxlength">Should have maximum 100 chars</em>
                                </div>
                                <div class="ui labeled input" [formGroup]="savePostFormGroup">
                                    <label class="ui label"><i class="fa fa-user" aria-hidden="true"></i></label>
                                    <input type="text" placeholder="Contact Person" id="contactPerson" class="ui " formControlName="contactPerson" />
                                </div>
                            </div>
                            <div class="field" [ngClass]="{'error' : isInvalidContactPhone()}">
                                <div class="fields">
                                    <label class="field">Contact Phone:</label>
                                    <em class="field" *ngIf="isInvalidContactPhone() && contactPhone.errors?.required">Required</em>
                                    <em class="field" *ngIf="isInvalidContactPhone() && (contactPhone.errors?.min || contactPhone.errors?.max)">Should have 10 digits</em>
                                </div>
                                <div class="ui labeled input" [formGroup]="savePostFormGroup">
                                    <label class="ui label"><i class="fa fa-phone" aria-hidden="true"></i></label>
                                    <input type="number" min="1000000000" placeholder="Contact Phone" id="contactPhone" class="ui " formControlName="contactPhone" />
                                </div>
                            </div>
                        </div>
                    </div>-->

                    <div class="computer tablet only six wide column right floated">
                        <div class="ui grid">
                            <div class="three wide column right floated">
                                <button (click)="cancelPost()" class="ui secondary button">Cancel</button>
                            </div>
                            <div class="seven wide column right floated">
                                <button type="submit " class="ui primary button fluid"><i class="fa fa-home"></i>
                                    <span class="margin-left-5">Save Post</span>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="mobile only ten wide column">
                        <button type="submit " class="ui primary button fluid"><i class="fa fa-home"></i>
                            <span class="margin-left-5">Save Post</span>
                        </button>
                    </div>

                    <div class="mobile only ten wide column">
                        <button type=" " class="ui secondary button fluid" (click)="cancel()">Cancel</button>
                    </div>
<!--
                </div>
            </form>


            <div class="ui error message " *ngIf="isInvalidForm()">
                <div class="header">
                    Please enter all details to submit the post.
                </div>
            </div> -->

           <!-- <app-loader *ngIf="showLoader" [loaderMessage]="'Attempting to Save Post...'"></app-loader> -->

</mat-card>
</form>
</div>
</div>
