<div fxLayout="column">
  <div>
    <div fxLayout fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap.xs="0">
      <div fxFlex="100%">
        <mat-toolbar color="primary" class="toolbar-shadow toolbar">
          <span>
            <a [routerLink]=[constHelper.HomePageUrl] mat-button>Home</a>
          </span>
          <span>
            <a [routerLink]=[constHelper.SearchHomePageUrl] mat-button>Search</a>
          </span>
          <span>
            <a class="item" *ngIf="isUserLoggedIn" [routerLink]=[constHelper.AddPostPageUrl] routerLinkActive="active" mat-button>Add Post</a>
          </span>

          <!-- This fills the remaining space of the current row -->
          <span class="toolbar-fill-remaining-space"></span>
          <span>
            <a mat-button [routerLink]=[constHelper.SignInPageUrl] *ngIf="!isUserLoggedIn" routerLinkActive="active">
                <i class="fa fa-facebook-official " aria-hidden="true"></i><span class="margin-left-5">Sign In</span>
            </a>
          </span>
          <span>
            <a mat-button (click)="logout()" *ngIf="isUserLoggedIn" routerLinkActive="active">
                <i class="fa fa-user-o" aria-hidden="true"> </i><span class="margin-left-5">Sign Out</span>
            </a>
          </span>
        </mat-toolbar>
      </div>
    </div>
  </div>

  <div>
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <div fxFlex="15" fxHide.xs></div>
      <div fxFlex="70" fxFlex.xs="100">
        <router-outlet></router-outlet>
      </div>
      <div fxFlex="15" fxHide.xs></div>
    </div>
  </div>
</div>
