<h4>Manage Posts</h4>
<div class="table-container">
    <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="homePostId">
            <th mat-header-cell *matHeaderCellDef>Post Id</th>
            <td mat-cell *matCellDef="let row"> {{row.homePostId}} </td>
        </ng-container>

        <ng-container matColumnDef="area.name">
            <th mat-header-cell *matHeaderCellDef>Locality</th>
            <td mat-cell *matCellDef="let row"> {{row.area.name}} </td>
        </ng-container>

        <ng-container matColumnDef="homeType.name">
            <th mat-header-cell *matHeaderCellDef>Total Rooms</th>
            <td mat-cell *matCellDef="let row"> {{row.homeType.name}} </td>
        </ng-container>

        <ng-container matColumnDef="postStatusType">
            <th mat-header-cell *matHeaderCellDef>Visibility Status</th>
            <td mat-cell *matCellDef="let row"> {{row.postStatusType.name | postStatusTypeDescription}} </td>
        </ng-container>

        <ng-container matColumnDef="postDateTime">
            <th mat-header-cell *matHeaderCellDef>Posted on</th>
            <td mat-cell *matCellDef="let row"> {{row.postDateTime | date:'dd/MMM/yyyy, hh:mm aa' }}
                <button mat-mini-fab class="margin-left-20" (click)="editHomePost()" matTooltip="Edit Post" aria-label="Edit Post" matTooltipShowDelay="1000">
                    <i class="far fa-edit"></i>
                </button>
                <button mat-mini-fab color="warn" class="margin-left-20" (click)="deleteMyPost(row.homePostId)" matTooltip="Delete Post" aria-label="Delete Post" matTooltipShowDelay="1000">
                    <i class="fas fa-trash"></i>
                </button>
            </td>

        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumns.length">
                <div class="example-element-detail" [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
                    <mat-card class="expanded-row-container">
                        <mat-card-header>
                            <mat-card-subtitle>
                                <div fxLayout="row" class="margin-bottom-10" fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutAlign="start center">
                                    <div fxFlex="50" fxLayout.lt-md="column" fxLayoutAlign="start center">
                                        More details
                                    </div>

                                </div>
                            </mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <div fxLayout="row" class="margin-bottom-10" fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutAlign="start center">
                                <div fxFlex="50" fxLayout.lt-md="column" fxLayoutAlign="start center">
                                    <span class="field-label">Rent: </span>{{row.rent | currency: 'INR': 'symbol':'0.0'}} | Deposit: {{row.deposit | currency: 'INR': 'symbol': '0.0'}}
                                </div>
                                <div fxFlex="50" fxLayout.lt-md="column" fxLayoutAlign="start center">
                                    <span class="field-label">Area in Square Foot: </span>{{row.sqFt | number}}
                                </div>
                            </div>

                            <div fxLayout="row" class="margin-bottom-10" fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutAlign="start center">
                                <div fxFlex="50" fxLayout.lt-md="column" fxLayoutAlign="start center">
                                    <span class="field-label">Address Premise Name: </span>{{row.addressPremiseName}}
                                </div>
                                <div fxFlex="50" fxLayout.lt-md="column" fxLayoutAlign="start center">
                                    <span class="field-label">Address Street: </span>{{row.addressStreet}}
                                </div>
                            </div>

                            <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-md="column" fxLayoutAlign="start center">
                                <div fxFlex="50" fxLayout.lt-md="column" fxLayoutAlign="start center">
                                    <span class="field-label">Contact Person: </span>{{row.contactPerson}}
                                </div>
                                <div fxFlex="50" fxLayout.lt-md="column" fxLayoutAlign="start center">
                                    <span class="field-label">Contact Number: </span>{{row.contactPhone}}
                                </div>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row" [class.example-expanded-row]="expandedRow === row" (click)="expandedRow = expandedRow === row ? null : row">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>

    </table>
</div>