/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    margin: 0;
}

html,
body {
    height: 100%;
    width: 100%;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.mat-card-header-text {
    width: 100%;
}

.text-muted {
    color: gray;
}

.text-small {
    font-size: small;
}

mat-card {
    max-height: 250px;
}

.toolbar {
    height: 50px!important;
}

.margin-left-5 {
    margin-left: 5px;
}

.margin-top-30 {
    margin-top: 30px;
}